body {
  margin: 0;
  padding: 0;
  color: white;
}

.wrapper {
  background-image: url('./image/App.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 180px 0px;
}

.title {
  color: white;
  font-size: 80px;
}

.text {
  font-size: 35px;
  margin-top: 20px;
}

.color {
  color: red;
  font-size: 28px;
}