.not_found {
  background-image: url('../image/1644486769635.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 85%;
}